<h1> Login Page</h1>

<form method="post" action="/login">
  <label>Username</label>
  <input id="user" name="user[username]" type="text" />
  <label>Password</label>
  <input id="pass" name="user[password]" type="password" />
  <input name="Submit" type="submit" />
</form><br/><br/>
<div class="error-div">{{message}}</div>